@using covid_testing_managagement_system.ViewModels.Admin;
@model HomeViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["navName"] = "Dr. T. Magwaza";
    ViewData["currentRoute"] = "Home";
    Layout = "~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";

    string welcomeName = "Admin";
    ViewData["navName"] = "Admin";
    ViewData["oldCasesLinkName"] = "History";

    if (!Model.isAdmin) {
        welcomeName = $"{Model.professional.FirstName} {Model.professional.LastName}";
        ViewData["navName"] = $"{Model.professional.FirstName} {Model.professional.LastName}";
        ViewData["oldCasesLinkName"] = "Completed";
    }
}

<partial name="_PostLoginSidebarPartial.cshtml" view-data="@ViewData"/>
<div class="body-inner-inner">
    <partial name="_PostLoginNavbarPartial.cshtml" view-data="@ViewData"/>
    <main role="main" class="container-fluid px-3 pb-3 pt-5">

        <div class="container max-width-3">
            <div class="card">
            <h5 class="card-header bg-primary text-white">Introduction</h5>
            <div class="card-body d-flex justify-content-around">
                <div class="p3">
                    <img src="~/Img/logo@2x.png"/>
                </div>
                <div class="d-flex flex-column">
                    <h4>Welcome</h4>
                    <div>@welcomeName</div>
                </div>
            </div>
            </div>
        </div>

    </main>
</div>


