@using covid_testing_managagement_system.ViewModels.Admin;
@model PatientReportViewModel;

@{
  ViewData["Title"] = "Report";
  ViewData["navName"] = "Dr. T. Magwaza";
  ViewData["currentRoute"] = "New";
  ViewData["oldCasesLinkName"] = "Completed";
  Layout = "~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";
}

<partial name="_PostLoginSidebarPartial.cshtml" view-data="@ViewData"/>
<div class="body-inner-inner">
    <partial name="_PostLoginNavbarPartial.cshtml" view-data="@ViewData"/>
    <main role="main" class="container-fluid px-3 pb-3 pt-5 main-allow-scroll">

      <div class="container max-width-3">
        <h4 class="text-secondary">Patient info</h4>
        <div class="card">
          <div class="card-body shadow">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <h5>Full name</h5>
                <div>@Model.patient.FirstName @Model.patient.LastName</div>
              </div>
              <div class="d-flex flex-column">
                <h5>Sex</h5>
                <div>@(Model.patient.Sex ? "Male" : "Female")</div>
              </div>
              <div class="d-flex flex-column">
                <h5>Status</h5>
                <div>
                  @(
                    Model.interview.Reviewed == false
                      ? "NEW!"
                      : Model.interview.Outcome == true
                        ? "Recommended"
                        : "Not recommended"
                  )
                </div>
              </div>
              <div class="d-flex flex-column">
                <h5>Age</h5>
                <div>@Model.patient.Age</div>
              </div>
            </div>
            <div class="d-flex justify-content-between pt-4">
              @{
                if (Model.interview.Reviewed == true) {
                  <a class="btn btn-success" href="javascript:history.go(-2)">Back</a>
                }
                else {
                  <form asp-action="RecommendPatient" asp-route-id="@Model.interview.Id" method="post">
                    <button type="submit" class="btn btn-success">Recommend</button>
                  </form>
                  <form asp-action="RejectPatient" asp-route-id="@Model.interview.Id" method="post">
                    <button type="submit" class="btn bg-transparent border-danger text-danger">Reject</button>
                  </form>
                }
              }
            </div>
          </div>
        </div>

        <h4 class="text-secondary mt-5">Interview</h4>
        <div class="card">
          <div class="card-body shadow">
            <h5>Present symptoms</h5>
            <div class="d-flex">
              @{
                for (int i = 0; i < Model.SymptomsPresent.Count(); i++) {
                  <span class="mr-2">@Model.SymptomsPresent[i].CommonName,</span>
                }
              }
            </div>
            <h5 class="mt-4">Absent symptoms</h5>
            <div class="d-flex">
              @{
                for (int i = 0; i < Model.SymptomsAbsent.Count(); i++) {
                  <span class="mr-2">@Model.SymptomsAbsent[i].CommonName,</span>
                }
              }
            </div>
          </div>
        </div>
        
        <div class="card mt-3">
          <div class="card-body shadow">
            <h5>Present risk factors</h5>
            <div class="d-flex">
              @{
                for (int i = 0; i < Model.RiskFactorsPresent.Count(); i++) {
                  <span class="mr-2">@Model.RiskFactorsPresent[i].CommonName,</span>
                }
              }
            </div>
            <h5 class="mt-4">Absent risk factors</h5>
            <div class="d-flex">
              @{
                for (int i = 0; i < Model.RiskFactorsAbsent.Count(); i++) {
                  <span class="mr-2">@Model.RiskFactorsAbsent[i].CommonName,</span>
                }
              }
            </div>
          </div>
        </div>
      </div>

    </main>
</div>

