@{
  ViewData["Title"] = "Pending Approval";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="jumbotron bg-white shadow-lg max-width-2">
      <h1 class="display-4 text-center mb-5">Thank you</h1>
      <p class="mt-2">@ViewData["message"]</p>
      <a class="btn btn-primary" role="button" href="/">Home</a>
    </div>
</div>
