@using covid_testing_managagement_system.ViewModels.Admin;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="card flex-grow-1 max-width-1">
        <div class="card-body shadow-lg">
            <h3 class="card-title text-center py-3">Register</h3>
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="email" class="form-control">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="firstNameInput">First name</label>
                    <input asp-for="@Model.Professional.FirstName" type="text" class="form-control" id="firstNameInput" aria-describedby="emailHelp" placeholder="First name">
                    <span asp-validation-for="@Model.Professional.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="lastNameInput">Last name</label>
                    <input asp-for="@Model.Professional.LastName" type="text" class="form-control" id="lastNameInput" aria-describedby="emailHelp" placeholder="Last name">
                    <span asp-validation-for="@Model.Professional.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="practiceNumberInput">Registration number</label>
                    <input asp-for="@Model.Professional.RegistrationNumber" type="text" class="form-control" id="practiceNumberInput" aria-describedby="emailHelp" placeholder="Practice number">
                    <span asp-validation-for="@Model.Professional.RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="countryInput" class="control-label">Country</label>
                    <select asp-for="@Model.Professional.Country" class="form-control" id="countryInput" asp-items="Html.GetEnumSelectList<Country>()">
                        <option selected="selected" value="">Please select country</option>
                    </select>
                    <span asp-validation-for="@Model.Professional.Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="specialityInput" class="control-label">Speciality</label>
                    <select asp-for="@Model.Professional.Speciality" class="form-control" id="specialityInput" asp-items="Html.GetEnumSelectList<Speciality>()">
                        <option selected="selected" value="">Please select speciality</option>
                    </select>
                    <span asp-validation-for="@Model.Professional.Speciality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="w-100 d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary mt-3">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center pt-3">
    <div class="card flex-grow-1 max-width-1 mb-5">
        <div class="card-body shadow-lg">
                <div class="w-100 d-flex align-items-center flex-column justify-content-center">
                    <div>Already have an account?</div>
                    <a href="/admin/login">Login</a>
                </div>
        </div>
    </div>
</div>
