@{
    ViewData["Title"] = "Congratulations!";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="jumbotron bg-white shadow-lg max-width-2">
    <h1 class="display-4 text-center mb-5 text-success">Application Successful!</h1>
    <strong>Your symptoms have been sent for review by the qualified health worker.</strong>
    <p class="mt-2">Please expect further communication on the email that you have provided.</p>
    <div class="text-center mt-5">
        <a class="btn-text" asp-controller="Home" asp-action="Index">Back to home<span>&rarr;</span></a>
    </div>
    </div>
</div>