@using covid_testing_managagement_system.ViewModels;
@model PatientViewModel;

@{
    ViewData["Title"] = "Recommendation Applicatin";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="card flex-grow-1 max-width-1">
        <div class="card-body shadow-lg">
            <h3 class="card-title text-center py-3">Just add the missing details</h3>
            <form asp-action="Apply" method="POST">
                <div class="form-group">
                    <label asp-for="FirstName">First name</label>
                    <input asp-for="FirstName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="First name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last name</label>
                    <input asp-for="LastName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Last name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdNumber">ID Number</label>
                    <input asp-for="IdNumber" type="number" class="form-control" aria-describedby="emailHelp" placeholder="ID Number">
                    <small id="idHelp" class="form-text text-muted">We'll never share your ID with anyone else.</small>
                    <span asp-validation-for="IdNumber" class="text-danger"></span>
                </div>
                <div class="w-100 d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>

