﻿@{
    ViewData["Title"] = "Symtom Checker";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="jumbotron bg-white shadow-lg max-width-2">
    <h1 class="display-4 text-center mb-5">Terms of Service</h1>
    <strong>Checkup is not a diagnosis.</strong>
    <p class="mt-2 mb-5">Checkup is for informational purposes only and does not represent, in any way, a qualified medical opinion. Checkup and its potential results are entirely based on WHO and CDC guidelines concerning COVID-19 only.</p>
    <strong>If this is an emergency, call your local emergency number immediately.</strong>
    <p class="mt-1 mb-4">Do not proceed with this Checkup tool. Medical attention is required immediately.</p>
    <a class="btn btn-primary" role="button" asp-controller="SymtomChecker" asp-action="PatientInfo">Start check</a>
    </div>
</div>

