html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #919294;
  line-height: 2.6rem;
  background-color: #fff;
}

.heading {
  font-family: Roboto,sans-serif;
  color: #4C4C4C;
}

.heading-secondary {
  font-size: 5rem;
  font-weight: 300;
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight:300;
}

.logo {
  width: 75%;
}

.mr-nav {
  margin-right: 8rem !important;
}

.header {
  height: 105vh;
  background-image: url(../Img/Background.png);
  background-size: cover;
  background-position: 50% -4rem;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: relative;
}


a.nav-logo-pos {
  text-align: left;
}

.nav-link {
  font-size: 1.2rem;
}

.hero-box {
  position: absolute;
  left: 2%;
  top: 35%;
}

.hero-text-main {
  font-family: Roboto, sans-serif;
  font-size: 4.5rem;
  color: #4C4C4C;
  font-weight: 300;
}

.hero-text-main span {
  text-transform: uppercase;
  font-weight: 700;
  color: #4B1110;
}

.hero-text-sub {
  font-size: 2rem;
  color: #919294;
  width: 70rem;
}


.hero-btn {
  padding: 1rem;
  width: 19rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn-primary {
  background-color: #4B1110 !important;
  color: #D6D6D6 !important;
  border: 1px solid #4B1110;
}

.hero-btn-primary:hover,
.hero-btn-outline-primary:hover {
    background-color: rgb(58, 13, 13) !important;
    color: #D6D6D6 !important;
    border: 1px solid #4B1110;
    transform: translateY(-1rem);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.hero-btn-primary:active,
.hero-btn-outline-primary:active {
    background-color: rgb(58, 13, 13) !important;
    transform: translateY(-0.5rem);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3) !important;
}


.hero-btn-outline-primary {
    border: 1px solid #4B1110;
    color: #4B1110 !important;
}

.section-how-it-works {
    height: 100vh;
    margin: 10rem;
    position: relative;
}

.how-it-works-content {
    width: 33%;
    margin-left: 25%;
    position: relative;
}

.section-subheading {
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: #4C4C4C;
}

.step-box {
    display:flex;
}

.step-number {
    border: 2px solid #2BF2AF;
    width: 8rem;
    height: 4rem;
    font-family: Roboto, sans-serif;
    font-size: 2.2rem;
    color: #106F4F;
    border-radius: 0.5rem;
    padding: 0.7rem;
    text-align: center;
    display: inline-block;
    margin-right:2rem; 
}

.step-content {
    margin-top: 0.9rem;
    margin-bottom: 1rem;
}

.step-content p {
   margin-top: 0.5rem;
   font-size: 1.45rem;
   width: 44.5rem;
}

.how-it-works-content span {
    display: inline-block;
    font-size: 1.2rem;
}

.btn-text:link,
.btn-text:visited{
    color: #4B1110;
    padding: 1rem;
    text-decoration:none;
    display: inline-block;
    transition: all 0.3s ease;
}


.btn-text:hover {
    color: #D6D6D6;
    background-color: #4B1110;
    transform: translateY(-1rem);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.btn-text:active {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transform: translateY(-0.5rem);
}

.btn-text span {
    margin-left: 0.5rem;
}

.mask-box {
    width: 80rem;
    position: absolute;
    right: -5%;
    top: -25%;
}

.mask {
    width: 100%;
    opacity: 0.1;
}

.section-why-trust-us {
    padding: 15rem 20rem;
    background-color: #FAFAFA;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.why-trust-us-content {
    z-index: 100;
}

.why-trust-us-content .section-subheading {
    width: 50%;
}

.reason-box {
    display: flex;
    margin-right: 10rem;
}

.icon-box {
    width: 6rem;
    margin-right: 2rem;
    text-align: right;
}

.icon-image-1{
    width: 110%
}

.icon-image-2 {
    width:80%;
}

.why-trust-us-reasons {
    display: flex;
    margin-top: 5rem;
}


.infermedica-link:link,
.infermedica-link:visited {
    text-decoration: none;
    color: #4C4C4C;
}

.nav-arrow:link,
.nav-arrow:visited {
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    color: #D6D6D6;
    position: absolute;
    display: inline-block;
}

.nav-arrow:hover,
.nav-arrow:active {
    color: #4B1110;
}

.section-how-it-works .nav-arrow-up:link{
    top:1rem;
    left: 20rem;
}

.section-how-it-works .nav-arrow-down:link {
    top: 4rem;
    left: 20rem;
}

.section-why-trust-us .nav-arrow-up:link {
    top: 16rem;
    left: 10rem;
    color: #FAFAFA;
}

.covid-image-box {
    width: 100rem;
    position: absolute;
    left:-10%;
    top:-10%;
    z-index: -100;
}

.covid-image {
    width: 100%;
}

footer {
    padding: 7rem 15rem;
    background-color: black;
}

footer span {
    display: inline-block;
    padding: 1rem;
    border-bottom: solid 1px gray;
}