﻿@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
     var user = await UserManager.GetUserAsync(User);
}

<header class="header" id="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-transparent mb-3">
        <div class="container-fluid">
            <a class="navbar-brand nav-logo-pos" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Img/logo@2x.png" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-end mb-5">
                    <li class="nav-item mr-nav">
                        <a class="nav-link text-light" asp-area="" asp-controller="SymtomChecker" asp-action="Index">Symtom Checker</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link text-light" href="#section-how-it-works">How Does it Work?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Admin">For Doctors</a>
                    </li>

                    @if(SignInManager.IsSignedIn(User))
                    {
                        <div class="nav-link text-light">Signed in as @user.NormalizedEmail.ToLowerInvariant()</div>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero-box">
        <h1 class="hero-text-main mb-0">
            Worried about your <span>Covid-19</span> symptoms?
        </h1>
        <h3 class="hero-text-sub">
            Our online covid-19 symptoms checker will tell you how likely you are to have covid-19. It's easy.
        </h3>

        <div class="hero-buttons-box mt-5">
            <a class="btn btn-primary hero-btn-primary hero-btn mr-4"
            asp-controller="SymtomChecker"
            asp-action="Index">Take the test!</a>
            <a class="btn btn-outline-primary hero-btn-outline-primary hero-btn"
            href="#section-how-it-works">How does it work?</a>
        </div>

    </div>
</header>

<section class="section-how-it-works" id="section-how-it-works">


    <a href="#header" class="nav-arrow nav-arrow-up">&uArr;</a>

    <a href="#section-why-trust-us" class="nav-arrow nav-arrow-down">&dArr;</a>

    <div class="mask-box">
        <img src="~/Img/Mask.png" class="mask" />
    </div>

    <div class="how-it-works-content">
        <h2 class="heading heading-secondary">In a nutshell</h2>
        <h4 class="section-subheading mb-3">The covid-19 symptom checker analyses the likelihood of a person having contracted the coronavirus based on their symptoms and level of risk to exposure. </h4>

        <span class="mb-2">It works as follows:</span>

        <div class="step-box">
            <div class="step-number">1</div>
            <div class="step-content">
                <h5 class="heading heading-tertiary">Complete the online assesment:</h5>
                <p>The online assessment will ask you about the symptoms that you are currently experiencing. The questions are carefully selected to gather information that relates to the coronavirus.</p>
            </div>
        </div>

        <div class="step-box">
            <div class="step-number">2</div>
            <div class="step-content">
                <h5 class="heading heading-tertiary">Instantly get your results:</h5>
                <p>An automated algorithm will then calculate the risk that you have been exposed to the coronavirus. It will also provide helpful instructions on what steps to follow thereafter.</p>
            </div>
        </div>


        <div class="step-box">
            <div class="step-number">3</div>
            <div class="step-content">
                <h5 class="heading heading-tertiary">Get contacted by a healthcare provider:</h5>
                <p>Should you be at a high risk of having contracted the coronavirus, a professional healthcare provider will be alerted of your condition. They will then contact you to gather more information and potentially schedule a testing appointment.</p>
            </div>
        </div>

        <div class="mt-2">
            <a class="btn-text" asp-controller="SymtomChecker" asp-action="Index">Take the test<span>&rarr;</span></a>
        </div>
    </div>
</section>

<section class="section-why-trust-us" id="section-why-trust-us">

    <div class="covid-image-box">
        <img src="~/Img/coronavirus.png" class="covid-image" />
    </div>

    <a href="#section-how-it-works" class="nav-arrow nav-arrow-up">&uArr;</a>

    <div class="why-trust-us-content">
        <h2 class="heading heading-secondary mb-3">Why can you trust this tool?</h2>
        <h4 class="section-subheading">The covid-19 symptom checker uses the <strong><a class="infermedica-link" href="https://infermedica.com/covid19" target="_blank">Infermedica/covid19</a></strong> API. An API created by Infermedica specifically for covid-19 risk assessment. The API makes a diagnosis based on information from reliable sources that is verified by doctors.</h4>

        <div class="why-trust-us-reasons">

            <div class="reason-box">
                <div class="icon-box"><img src="~/Img/WHO.png" class="icon-image-1" /></div>
                <div class="step-content">
                    <h5 class="heading heading-tertiary">Based on reliable sources</h5>
                    <p>The logic of the diagnosis API is informed and guided by the official information presented by the WHO on the symptoms and risk factors of covid-19.</p>
                </div>
            </div>

            <div class="reason-box">
                <div class="icon-box"><img src="~/Img/Doctor.png" class="icon-image-2" /></div>
                <div class="step-content">
                    <h5 class="heading heading-tertiary">Verified by doctors</h5>
                    <p> The content was meticulously implemented by Infermedica’s team of doctors. It is kept up to date with the latest WHO and CDC guidelines.</p>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <a class="btn-text" asp-controller="SymtomChecker" asp-action="Index">Take the test<span>&rarr;</span></a>
        </div>
    </div>
</section>

<footer class="text-center">
    <span>&copy; 2020 BBD Software Development</span>
</footer>

@section Styles {
    <link rel="stylesheet" href="~/css/preloginHome.css" />
}