﻿<nav class="navbar navbar-white">
    <a class="navbar-brand nav-logo-pos" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/Img/logo@2x.png" style="width:8rem;" class="logo" />
    </a>
</nav>